@font-face {
    font-family: "VCROSDMono";
    src: url("VCROSDMono.ttf");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #750050;
    color: white;
    padding: 20px;
}

body {
    border: 3px solid red;
    outline: 3px solid white;
    font-family: 'VCROSDMono', sans-serif;
    background-color: #71bcb7;
    color: #da0f1d;
    text-align: center;

}

h2 {
    color: whitesmoke
}

h3 {
    color: blue
}

h4 {
    color: red
}

p {
    font-weight: lighter
}
a{
    font-weight: bold;
    font-family: 'VCROSDMono', sans-serif;
}

.ghoul {
    color: #00ffe9
}

ul {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    color: white;
}

.smartcat {
    border: 2px solid rgba(255, 99, 221, 0.6);
    width: 380px;
    height: 380px;
}
.main {
    text-align: start;
    color: white;
    font-weight: bold;
}

.game-name {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 32px;
}
.leaderboard{
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    color: white;
    border: 3px solid  #750050;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #2f8e62;
    color: white;
    font-family: 'VCROSDMono', sans-serif;
    font-size: 20px;
}
.nickname{
    text-align: center;
    font-family: 'VCROSDMono', sans-serif;
    font-size: 20px;
}
.heading{
    text-align: center;
    color: black;
}
.cell-name {
    color: lightblue;
    text-align: left;
    padding: 8px 15px;
    font-weight: bold;
}

.cell-points {
    color: white;
    text-align: center;
    padding: 8px 15px;
    font-variant-numeric: tabular-nums;
}

.leaderboard tr:nth-child(even) {
    background-color: rgba(117, 0, 80, 0.3);
}

.leaderboard tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: cadetblue;
}