@font-face {
    font-family: "VCROSDMono";
    src: url("VCROSDMono.ttf");
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #750050;
    color: white;
    padding: 20px;
}

body {
    border: 3px solid red;
    outline: 3px solid white;
    font-family: 'VCROSDMono', sans-serif;
    background-color: #71bcb7;
    color: #da0f1d;
    text-align: center;

}

h2 {
    color: whitesmoke
}

h3 {
    color: blue
}

h4 {
    color: red
}

p {
    font-weight: lighter
}
a{
    font-weight: bold;
    font-family: 'VCROSDMono', sans-serif;
}

.ghoul {
    color: #00ffe9
}

ul {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    color: white;
}

.smartcat {
    border: 2px solid rgba(255, 99, 221, 0.6);
    width: 500px;
    height: 500px;
}

.main {
    text-align: start;
    color: white;
    font-weight: bold;
}

.game-name {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

button {
    background-color: #2f8e62;
}